@font-face{
    font-family: "Avenir";
    src: url(Avenir/AvenirMedium.otf);
}

@font-face{
    font-family: "AvenirLight";
    src: url(Avenir/AvenirBook.otf);
}

@font-face{
    font-family: "AvenirRoman";
    src: url(Avenir/AvenirRoman.otf);
}


html{
    font-family: "AvenirRoman", "Calibri", "Sans";
}

table#gameboard{
    border-collapse: collapse;
    border: 5px solid black;
}

#gameboard td{
    width:10px;
    height:10px;
    border: 1px solid black;
}

#gameboard td.snake{
    background: green;
}

#gameboard td.wall{
    background: black;
}

#gameboard td.food.eternal_apple, #gameboard td.food.apple{
    background: red;
}

#gameboard td.food.shrink{
    background: blue;
}

h2.highscores{
    font-size: 21px;
    margin-bottom: 5px;
}

#highscores div h4{
    font-family: "AvenirLight";
    
    color:#333;
    font-size:16px;
    display: inline;
}