@font-face{
    font-family: "Avenir";
    src: url(Avenir/AvenirMedium.otf);
}

@font-face{
    font-family: "AvenirLight";
    src: url(Avenir/AvenirBook.otf);
}

@font-face{
    font-family: "AvenirRoman";
    src: url(Avenir/AvenirRoman.otf);
}

*{
    font-family: "AvenirRoman", "Calibri", "Sans";
}

/*** GAMEBOARD ***/
table#gameboard{
    border-collapse: collapse;
    border: 5px solid #263238;
}

#gameboard td{
    width:10px;
    height:10px;
    border: 1px solid #263238;
}

#gameboard td.snake, .snake .legend_box{
    background: #4caf50;
}

#gameboard td.snakehead{
    background: #388e3c;
}

#gameboard td.wall, .wall .legend_box{
    background: #37474f;
}

#gameboard td.food.eternal_apple, #gameboard td.food.apple, .apple .legend_box{
    background: #ffa726;
}

#gameboard td.food.shrink, .shrink .legend_box{
    background: #64b5f6;
}

/*** INSTRUCTIONS/LEGEND BOX ***/
#legend{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    width: 369px;
    margin-top: 4px;
}

#legend .legend_entry{
    flex: 1 auto;
    text-align: center;
}

.legend_entry div{
    display: inline;
    font-family: "AvenirLight", "Calibri", "Sans";
    text-transform: uppercase;
    font-size: 14px;
}

.legend_entry .legend_box{
    display: inline-block;
    margin-right: 1px;
    
    width:8px;
    height:8px;
    border: 1px solid #263238;
}

/*** MESSAGE BOX ***/
.message_box{
    position: absolute;
    top:10px;
    padding:8px 15px;
    left:50%;
    
    font-size: 16px;
    text-align: center;
    
    height:16px;
    border-radius: 5px;
    
    transition: all 0.3s ease;
}

.message_box.appear{
    opacity: 1;
}

.message_box.disappear{
    opacity: 0;
}

.message_box.info{
    border: 1px #e65100 solid;
    background: #ffca28;
    color: black;
}

.message_box.error{
    border: 1px #b71c1c solid;
    background: #e53935;
    color: white;
}

/*** DIFFICULTY MENU ***/
#difficulty_menu h2{
    display: inline-block;
    padding-right: 10px;
}

h1{
    margin-bottom: 0px;
}

h2.highscores, #difficulty_menu h2{
    font-size: 21px;
    margin-bottom: 5px;
}

#highscores div h4{
    font-family: "AvenirLight";
    
    color:#333;
    font-size:16px;
    display: inline;
}