@font-face{
    font-family: "Avenir";
    src: url(Avenir/AvenirMedium.otf);
}

@font-face{
    font-family: "AvenirLight";
    src: url(Avenir/AvenirBook.otf);
}

@font-face{
    font-family: "AvenirRoman";
    src: url(Avenir/AvenirRoman.otf);
}

*{
    font-family: "AvenirRoman", "Calibri", "Sans";
}

table#gameboard{
    border-collapse: collapse;
    border: 5px solid #263238;
}

#gameboard td{
    width:10px;
    height:10px;
    border: 1px solid #263238;
}

#gameboard td.snake{
    background: #4caf50;
}

#gameboard td.snakehead{
    background: #388e3c;
}

#gameboard td.wall{
    background: #37474f;
}

#gameboard td.food.eternal_apple, #gameboard td.food.apple{
    background: #ffa726;
}

#gameboard td.food.shrink{
    background: #64b5f6;
}

#difficulty_menu h2{
    display: inline-block;
    padding-right: 10px;
}

h1{
    margin-bottom: 0px;
}

h2.highscores, #difficulty_menu h2{
    font-size: 21px;
    margin-bottom: 5px;
}

#highscores div h4{
    font-family: "AvenirLight";
    
    color:#333;
    font-size:16px;
    display: inline;
}